<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" 
	  integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" 
	  crossorigin="anonymous">

<title>Die Alternative Applikation</title>

<link rel="stylesheet" type="text/css" href="/css/mystyle.css"
	th:href="@{/css/mystyle.css}" media="screen">
</head>

<body>

	<div class="container">
		<br>
		<header>
			<h4 class="text-center">Die Alternative Applikation</h4>
			<h6 class="text-center">trau dich !!!</h6>
		</header>
		<br>

		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand p-1 mr-5">EvaChatApp</a> <a
				class="navbar-nav p-1"> <!--  <form action="/add?to=marga" method="post"> -->
				<form action="http://localhost:8080/add" method="post">
					<input type="hidden" name="to" value="marga">
					<input type="hidden" name="pcontent" value="5678 :: reingelegt!!!">
					<input type="submit" class="btn btn-outline-primary"
						value="aber zurueck zum chat geht es hier">
				</form>
			</a>
		</nav>

		<br>
		<img src="http://localhost:8080/add?to=marga&pcontent=haha">
		<br>
		<h6>
			<span th:if="${currentUser != null}"
				th:text="${fromUser} + ' quatschen mit ' +  ${toUser}">unser service ist der beste</span>
		</h6>

		<div></div>
	</div>

	<div class="container">
		<footer> &copy; AltXYZapp CoKG, Copyright (c): xyz,
			2019 </footer>
	</div>
</body>
</html>